.help-bubble-container {
    position: relative;
    display: inline-block;
}

.help-tooltip {
    font-size: 13px;
    position: absolute;
    z-index: 9999;
    max-width: 324px;
    padding: 7px 10.8px;
    white-space: normal;
    word-break: break-word;
    pointer-events: none;
    color: var(--bs-body-color);
    border-radius: 5px;
    background-color: var(--bs-card-border-color);
    box-shadow: 0 2px 7px rgb(0 0 0 / 20%);
}

.help-tooltip-right {
    top: 50%;
    left: calc(100% + 7px);
    transform: translateY(-50%);
}

.help-tooltip-left {
    top: 50%;
    right: calc(100% + 7px);
    transform: translateY(-50%);
}

.help-tooltip-top {
    bottom: calc(100% + 7px);
    left: 50%;
    transform: translateX(-50%);
}

.help-tooltip-bottom {
    top: calc(100% + 7px);
    left: 50%;
    transform: translateX(-50%);
}

/* Arrow styles */
.help-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
}

.help-tooltip-arrow-right {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border: 4px solid transparent;
    border-right-color: var(--bs-card-border-color);
}

.help-tooltip-arrow-left {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border: 4px solid transparent;
    border-left-color: var(--bs-card-border-color);
}

.help-tooltip-arrow-top {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid transparent;
    border-top-color: var(--bs-card-border-color);
}

.help-tooltip-arrow-bottom {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid transparent;
    border-bottom-color: var(--bs-card-border-color);
}
