[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=emmanuelpean
Group=emmanuelpean
WorkingDirectory=/home/emmanuelpean/app/src
Environment="PATH=/home/emmanuelpean/app/venv/bin"
ExecStart=/home/emmanuelpean/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000
EnvironmentFile=/home/emmanuelpean/.env

[Install]
WantedBy=multi-used.target