thead.custom-header {
	--bs-table-bg: transparent;
	background: var(--primary-gradient);
	color: white;
}

thead.custom-header th {
	color: white;
}

.text-gradient-primary {
	background: var(--primary-gradient);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.table-container {
	margin: auto;
}
