.header-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50.4px;
    height: 50.4px;
    color: white;
    border-radius: 14.4px;
    background: var(--primary-gradient);
    box-shadow: 0 7.2px 22.5px rgb(0 0 0 / 15%);
    aspect-ratio: 1 / 1;
}

.header-icon-wrapper i {
    font-size: 1.5rem;
    color: white;
}
