.datetime-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.form-control.datetime-input-with-icon {
    padding-right: 2.5rem;
    font: inherit;
    color: var(--bs-body-color);

    &::-webkit-datetime-edit,
    &::-webkit-datetime-edit-fields-wrapper,
    &::-webkit-datetime-edit-text,
    &::-webkit-datetime-edit-day-field,
    &::-webkit-datetime-edit-month-field,
    &::-webkit-datetime-edit-year-field,
    &::-webkit-datetime-edit-hour-field,
    &::-webkit-datetime-edit-minute-field,
    &::-webkit-datetime-edit-ampm-field {
        color: var(--bs-body-color);
    }

    &.datetime-empty::-webkit-datetime-edit,
    &.datetime-empty::-webkit-datetime-edit-fields-wrapper,
    &.datetime-empty::-webkit-datetime-edit-text,
    &.datetime-empty::-webkit-datetime-edit-day-field,
    &.datetime-empty::-webkit-datetime-edit-month-field,
    &.datetime-empty::-webkit-datetime-edit-year-field,
    &.datetime-empty::-webkit-datetime-edit-hour-field,
    &.datetime-empty::-webkit-datetime-edit-minute-field,
    &.datetime-empty::-webkit-datetime-edit-ampm-field {
        color: var(--placeholder-text-color);
    }
}

.datetime-embedded-icon {
    font-size: 1rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 1rem;
    padding: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translateY(-50%);
    color: var(--bs-body-color);
    border: none;
    background: transparent;
}

.datetime-embedded-icon:hover {
    color: var(--primary-mid) !important;
}
