.password-toggle-btn {
    font-size: 18px;
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 13.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28.8px;
    height: 28.8px;
    padding: 3.6px;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translateY(-50%);
    opacity: 0.8;
    color: var(--bs-body-color);
    border: none;
    border-radius: 3.6px;
    background: none;
}

.password-toggle-btn:hover {
    color: var(--primary-mid) !important;
}

.password-toggle-btn::before {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 16.2px;
    height: 1.8px;
    margin-top: -0.5px;
    content: "";
    transition: var(--transition);
    transform: translate(-50%, -50%) rotate(45deg) scaleX(0);
    transform-origin: center;
    border-radius: 0.9px;
    background-color: currentcolor;
}

.password-toggle-btn.show-slash::before {
    transform: translate(-50%, -60%) rotate(45deg) scaleX(1);
}
