.url-input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.url-input-field {
    width: 100%;
    padding-right: 72px !important;
}

.url-open-button {
    font-size: 1rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 1rem;
    padding: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translateY(-50%);
    color: var(--bs-body-color);
    border: none;
    background: transparent;
}

.url-open-button:hover {
    color: var(--primary-mid) !important;
}

.url-open-button:disabled {
    pointer-events: none;
    color: var(--btn-disabled-bg) !important;
}
